{% extends 'blog/base.html' %}
    {% block naman %}
    <h3>Welcome To Our Blog Page</h3>
    <hr>
    <p>A platform that loves to create,learn and bring the best of you. Just enlighten everyone with your feed!</p>
    <p>Very simple to use. Three simple steps to start -</p>
    <li>Register yourself.</li>
    <li>Make great blogs.</li>
    <li>Grab attention with your feeds.</li>
    <br>
    <h5>“There’s a lot of information out there for free, so you’ve got to figure out what makes your information different.”</h5>
    {% endblock naman %}